@import 'base/normalize';
@import 'base/variables';
@import 'base/typography';

@import 'components/filter';
@import 'components/loadingScreen';

@import 'layout/header';
@import 'layout/hero';
@import 'layout/allBooks';
@import 'layout/footer';

@import 'pages/aboutPage';
@import 'pages/blogPage';
@import 'pages/bookPage';

/* GENERAL */

html {
  font-size: 62.5%;
}

ul {
  margin:0;
  padding: 0;
}

body {
  font-family: $serif;
}

.wrapper {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

/* MEDIA QUERIES */

@media(max-width: 725px){
  .blogSpecifics{
    flex-direction: column;
  }

  .blogPage h2 {
    text-align: left;
  }
}

@media(max-width: 470px) {

  .title,
  header nav ul {
    margin: 0 auto
  }

  .aboutPage p,
  .blogPage p {

    line-height: 3rem;
  }

  .hero {
    background-image: url(../assets/heroMobile.jpg);
  }
}
