/* GENERAL */

.wrapper {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

/* HEADER */

.title {
  text-align: center;
  color: darkorange
}

.raceCategories {
  text-align: center;
  margin: 0 auto;
}

/* BOOKS */

.books ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.books li {
  margin: 8px;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
}